<div class="content">
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-box-2 text-warning"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Total <br> Orders</p>
                <p class="card-title">{{totalOrders}}
                <p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <a href="/admin/orders" style="text-decoration: none;">
          <div class="stats">
            <i class="fa fa-eye"></i>
            view all
          </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-box text-success"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Pending Orders</p>
                <p class="card-title">{{pendingOrders}}
                <p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <a href="/admin/orders" style="text-decoration: none;">
          <div class="stats">
            <i class="fa fa-eye"></i>
            view all
          </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-basket text-danger"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Completed Orders</p>
                <p class="card-title">{{completedOrders}}
                <p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <a href="/admin/orders" style="text-decoration: none;">
          <div class="stats">
            <i class="fa fa-eye"></i>
            view all
          </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-money-coins text-primary"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Amount <br> Get</p>
                <p class="card-title">${{amountGet}}
                <p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <a href="/admin/orders" style="text-decoration: none;">
          <div class="stats">
            <i class="fa fa-eye"></i>
            view all
          </div>
          </a>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
          <h5 class="card-title">Services</h5>
          <p class="card-category">let us boost</p>
        </div>
        <div class="card-body ">
          <div class="row">
            {{#each service}}
            <div class="col-md-4">
              <div class="service p-3">
                <a href="/admin/services" style="text-decoration: none;">
                  <center><img src="/images/service/{{_id}}.jpg" alt="image" width="150px" srcset="">
                    <p class="p-2" style="font-weight: 900;">{{serviceName}}</p>
                  </center>
                </a>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-history"></i> Updated 3 minutes ago
          </div>
        </div>
      </div>
    </div>
  </div>

</div>