<div class="content">
  <section class="price-area section-gap pb-4">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header ">
            <h5 class="card-title">{{order.product}} Order Details</h5>
          </div>
          <div class="card-body ">
            <div class="row" style="justify-content: center;">
              <table class="table display" style="border: solid 1px; width: 90%;"  id="table_id">
                <thead>
                  <tr>
                    <th scope="col">Product Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Link</th>
                    <th scope="col">Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>{{order.product}}</th>
                    <td>{{order.quantity}}</a></td>
                    <td><a href="{{order.link}}">{{order.link}}</a></td>
                    <td>${{order.totalAmount}}</a></td>
                  </tr>
                </tbody>
              </table>
              
            </div>
            <div class="float-right mr-4" style="display: flex;">
            <a href="/cancelOrder?id={{order._id}}" class="btn btn-warning"> Cancel order </a>
            <form action="pay?id={{order._id}}" method="POST" >
            <button class="btn btn-warning" >Continue checkout</button>
            </form>
                    
            </div>
          </div>


        </div>
      </div>
    </div>
  </section>

</div>